bin/Debug/Hitman2Statistics.exe
bin/Debug/Hitman2Statistics.pdb
bin/Debug/Hitman2Statistics.vshost.exe
bin/Debug/Hitman2Statistics.vshost.exe.manifest
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/Hitman2Statistics.csproj.FileListAbsolute.txt
obj/x86/Debug/Hitman2Statistics.csproj.GenerateResource.Cache
obj/x86/Debug/Hitman2Statistics.exe
obj/x86/Debug/Hitman2Statistics.Form1.resources
obj/x86/Debug/Hitman2Statistics.pdb
obj/x86/Debug/Hitman2Statistics.Properties.Resources.resources
obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
obj/x86/Debug/Hitman2Statistics.csprojResolveAssemblyReference.cache
obj/x86/Debug/HitmanStatistics.csproj.FileListAbsolute.txt
*.exe
bin/Debug/HitmanStatistics.pdb
obj/x86/Debug/HitmanStatistics.csproj.GenerateResource.Cache
obj/x86/Debug/HitmanStatistics.Form1.resources
obj/x86/Debug/HitmanStatistics.pdb
obj/x86/Debug/HitmanStatistics.Properties.Resources.resources
bin/Debug/HitmanStatistics.vshost.exe.manifest
obj/x86/Debug/HitmanStatistics.csprojResolveAssemblyReference.cache